<h3 class="fw-600 text-center my-3">Editar película</h3>

<%= render "form", movie: @movie %>


<div class="row d-flex justify-content-center mt-3 the-cheapest">
  <div class="col-5 text-center">
      <%= link_to "Atrás", @movie, class: "yellowbtn btn btn-light mb-3 d-block-inline w-75" %> <br>
      <%= link_to "Volver a inicio", movies_path, class: "yellowbtn btn btn-light mb-3 d-block-inline w-75" %>
  </div>
</div>
