<p style="color: green"><%= notice %></p>

<table class="table table-stripped table-hover table-bordered table align-middle">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Película arrendada</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <%= render @customer %>
  </tbody>
</table>

<div class="text-center">

  <%= link_to "Volver", customers_path, class: "yellowbtn btn btn-light fs-5 wi-25 mt-4" %>


</div>
